<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wonderlst</title>
</head>
<body>
    <h3>Create A New Listing</h3>
    <form method="POST" action="/listings">
        <div>
            <label for="title" class="form-label">Title</label>
            <input 
                name="listing[title]" 
                placeholder="enter title" type="text" 
                class="form-control"
            />
        </div>
        <div>
            <label for="description" class="form-label">Description</label>
            <textarea 
                name="listing[description]" 
                class="form-control"
                placeholder="enter description">
            </textarea>
        </div>
        
        <input name="listing[image]" placeholder="enter image" type="text">
        <br /><br />
        <input name="listing[price]" placeholder="enter price" type="number">
        <br /><br />
        <input name="listing[country]" placeholder="enter your country" type="text">
        <br /><br />
        <input name="listing[location]" placeholder="enter location" type="text">
        <br /><br />
        <button>Add</button>
    </form>
</body>
</html>